#navbar {
  font-family: 'Pacifico', cursive;
  background-color: '#2b2b29'
}
html {
  background-color: #cf2b2b;
}

h4 {
  padding: 0;
  margin: 0;
  
}
thead {
  background-color: rgb(95, 95, 95);
  color: white;
}
thead h4 {
  color: white;
}

#fab {
  display: none;
}
span.MuiStepLabel-label {
  color: white;
}
span.MuiStepLabel-label.MuiStepLabel-active {
  color: white;
}
span.MuiStepLabel-label.MuiStepLabel-completed {
  color: white;
}
circle {
  color: #cf2b2b;
}
p.MuiFormHelperText-root.MuiFormHelperText-contained {
  background-color: #cf2b2b;
}
#cvv-helper-text {
  background-color: rgb(43, 43, 41);
  color: white;
  margin: 0;
}
.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@media only screen and (min-width: 600px) {
  .scrollTop {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .scrollTop {
    display: flex;
  }
}
.MuiSvgIcon-root.scrollTop {
  float: right;
}
.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  padding-right: 5;
  padding-left: 5;

}